<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlashBulbMob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA1F37D11C8F6A4800D640FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA1F37E51C8F6A4800D640FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA1F37F01C8F6A4800D640FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
